<app-modal [title]="action + ' Elemento de Gasto'" [fg]="fg" (saveClicked)="save()">
  <form class="epigrafe-form" [formGroup]="fg">
    <div class="form__group m-t-10">
      <am-input class="w-100" label="Elemento" [fg]="fg" control="elemento" [required]="true" autocomplete="off"></am-input>
      <am-input class="w-100 m-l-10" label="Descripción" [fg]="fg" control="descripcion" [required]="true" autocomplete="off"></am-input>
    </div>
    <div class="form__group">
      <am-input class="w-100" label="Uso y Contenido" [fg]="fg" control="usoContenido" autocomplete="off"></am-input>
    </div>
    <div class="form__group">
      <am-select class="w-100" label="Cuentas Asociadas" [fg]="fg" control="cuentaAsociada" [values]="cuentasValues" [multiple]="true"></am-select>
    </div>
    <div class="form__group">
      <am-select class="w-100" label="Tipos de Entidad" [fg]="fg" control="tipoEntidad" [values]="tipoEntidadValues" [multiple]="true"></am-select>
    </div>
    <div class="form__group">
      <am-select class="w-100" label="Epígrafe" [fg]="fg" control="epigrafe" [values]="epigrafesValues" [required]="true"></am-select>
    </div>
  </form>
</app-modal>