<div>
    <span [ngClass]="{'p-float-label mt-3': floatLabel}" class="p-field" [formGroup]="fg">
        <label *ngIf="!floatLabel" 
            [for]="control" 
            class="inline-label" 
            [ngStyle]="{'width.px': labelWidth}"
            [class.p-error]="!fg.controls[control].valid && fg.controls[control].dirty">{{ label }}:
        </label>
        <p-password [id]="control" 
            [formControlName]="control" 
            [placeholder]="placeholder"
            [toggleMask]="toggleMask"
            [feedback]="feedback"
            [required]="required" 
            [disabled]="disabled">
        </p-password>
        <label *ngIf="floatLabel" [for]="control">{{ label }}</label>
    </span>
    <small *ngIf="fg.controls[control].invalid && fg.controls[control].errors?.['required'] && (fg.controls[control].dirty || fg.controls[control].touched)" class="p-error">Este campo es obligatorio.</small>
    <small *ngIf="fg.controls[control].invalid && fg.controls[control].errors?.['minLength']" class="p-error">Introduzca más caracteres.</small>
</div>
