<div>
    <div [ngClass]="{'p-float-label mt-3': floatLabel}" class="p-field" [formGroup]="fg">
        <label *ngIf="!floatLabel" [for]="control" class="inline-label" [class.p-error]="!fg.controls[control].valid && fg.controls[control].dirty">{{ label }}: </label>
        <p-password [id]="control" 
            [formControlName]="control" 
            [placeholder]="placeholder"
            [toggleMask]="toggleMask"
            [feedback]="feedback"
            [required]="required" 
            [disabled]="disabled"
            [ngStyle]="{ height: floatLabel ? '2.5rem' : 'initial' }">
        </p-password>
        <label *ngIf="floatLabel" [for]="control">{{ label }}</label>
    </div>
    <small *ngIf="!fg.controls[control].valid && fg.controls[control].dirty" id="username2-help" class="p-error">Este campo es obligatorio</small>
</div>
