<span
  [ngClass]="{ 'p-float-label mt-5': floatLabel }"
  class="field p-input-icon-right w-full"
  [formGroup]="fg">
  <label
    *ngIf="!floatLabel"
    [for]="control"
    class="inline-label"
    [ngStyle]="{ 'width.px': labelWidth }"
    [ngClass]="{ 'label-required': required }"
    [class.p-error]="!fg.controls[control].valid && fg.controls[control].dirty"
    >{{ label }}:
  </label>
  <p-password
    [id]="control"
    [formControlName]="control"
    [placeholder]="placeholder"
    [toggleMask]="toggleMask"
    [feedback]="feedback"
    [required]="required"
    [disabled]="disabled"
    [pTooltip]="getToolTip()"
    [tooltipPosition]="tooltipPosition"
    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
    [tooltipStyleClass]="getToolTipStyleClass()">
  </p-password>
  <label
    *ngIf="floatLabel"
    [for]="control"
    [ngClass]="{ 'label-required': required }"
    class="field"
    >{{ label }}</label
  >
</span>
