<app-add-edit-item [fg]="fg" (actionClicked)="onActionClicked($event)">
  <form [formGroup]="fg" style="width: 350px">
    <div class="form__group">
      <png-input-text
        class="w-full mt-1"
        label="Entidad"
        labelWidth="90"
        [fg]="fg"
        control="entidades"
        [required]="true"
        autocomplete="off"></png-input-text>
    </div>
    <div class="form__group">
      <png-input-text
        class="w-full mt-1"
        label="Descripción"
        labelWidth="90"
        [fg]="fg"
        control="descripcion"
        [required]="true"
        autocomplete="off"></png-input-text>
    </div>
  </form>
</app-add-edit-item>
