.conciliacion-detalle {
    height: calc(100% - 200px);
    overflow: auto;
    margin: 5px;
}

.mat-column-Emisor,
.mat-column-FechaE,
.mat-column-Receptor,
.mat-column-FechaR {
    text-align: center;
}

.mat-column-ImporteE,
.mat-column-ImporteR,
.mat-column-Diferencia {
    text-align: right;
}