<png-progress-spinner *ngIf="loading"></png-progress-spinner>

<div class="content">
  <png-panel class="h-full w-full" header="Conciliación Interna Golden DWH">
    <form [formGroup]="fg">
      <div class="flex">
        <p-fieldset legend="Centro a Analizar">
          <div class="form__group">
            <png-dropdown class="w-20rem" [fg]="fg" control="idDivision" label="División" [optionsValues]="divisionesValues" placeholder="Seleccione la División" [filter]="true" [required]="true" [showClear]="true"></png-dropdown>
          </div>
          <div class="form__group">
            <png-dropdown class="w-20rem" [fg]="fg" control="idSubdivision" label="Subdivisión" [optionsValues]="subdivisionesValues" placeholder="<TODAS>" [filter]="true" [showClear]="true"></png-dropdown>
          </div>
          <div class="form__group">
            <png-dropdown class="w-20rem" [fg]="fg" control="idUnidad" label="Unidad" [optionsValues]="unidadesValues" placeholder="<TODAS>" [filter]="true" [showClear]="true"></png-dropdown>
          </div>
        </p-fieldset>
        <p-fieldset class="ml-3" legend="Centro Origen / Destino">
          <div class="form__group">
            <png-dropdown class="w-20rem" [fg]="fg" control="idDivisionOD" label="División" [optionsValues]="divisionesValues" placeholder="Seleccione la División" [filter]="true" [required]="true" [disabled]="true" [showClear]="true"></png-dropdown>
          </div>
          <div class="form__group">
            <png-dropdown class="w-20rem" [fg]="fg" control="idSubdivisionOD" label="Subdivisión" [optionsValues]="subdivisionesValues" placeholder="<TODAS>" [filter]="true" [showClear]="true"></png-dropdown>
          </div>
          <div class="form__group">
            <png-dropdown class="w-20rem" [fg]="fg" control="idUnidadOD" label="Unidad" [optionsValues]="unidadesODValues" placeholder="<TODAS>" [filter]="true" [showClear]="true"></png-dropdown>
          </div>
        </p-fieldset>
        <div class="ml-3 mt-2" layout="column">
          <div class="form__group">
            <png-calendar class="w-100" [fg]="fg" label="Fecha Inicial" labelWidth="100" control="fechaInicial"[required]="true"></png-calendar>
          </div>
          <div class="form__group">
            <png-calendar class="w-100" [fg]="fg" label="Fecha Final" labelWidth="100" control="fechaFinal" [required]="true"></png-calendar>
          </div>
          <div class="m-l-10 m-t-10">
            <png-checkbox class="mt-1 ml-3" [fg]="fg" control="soloDiferencias" label="Mostrar solo Diferencias"></png-checkbox>
          </div>
        </div>
      </div>
    </form>
    <div class="conciliacion-detalle shadow-1 mt-2">          
      <p-table [value]="dataSource" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
              <th>Documento</th>
              <th>Emisor</th>
              <th>Fecha Emisión</th>
              <th class="text-right">Importe Emisor</th>
              <th>Receptor</th>
              <th>Fecha Recepción</th>
              <th class="text-right">Importe Receptor</th>
              <th class="text-right">Diferencia</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-concilia>
            <tr>
              <td>{{ concilia.Documento }}</td>
              <td>{{ concilia.Emisor }}</td>
              <td>{{ concilia.FechaE | date: 'dd/MM/yyyy' }}</td>
              <td class="text-right">{{ concilia.ImporteE | currency: 'USD' }}</td>
              <td>{{ concilia.Receptor }}</td>
              <td>{{ concilia.FechaR | date: 'dd/MM/yyyy' }}</td>
              <td class="text-right">{{ concilia.ImporteR | currency: 'USD' }}</td>
              <td class="text-right">{{ concilia.Diferencia | currency: 'USD' }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr>
              <td colspan="3">TOTAL</td>
              <td class="text-right">{{ totalEmisor | currency: 'USD' }}</td>
              <td colspan="2"></td>
              <td class="text-right">{{ totalReceptor | currency: 'USD' }}</td>
              <td class="text-right">{{ totalDiferencia | currency: 'USD' }}</td>
            </tr>
        </ng-template>
      </p-table> 
    </div>
    <div class="item__footer mt-2">
      <png-button class="m-r-10" label="Conciliar" [style]="'primary'" icon="mdi mdi-file-check-outline" [disabled]="!fg.valid" (clicked)="conciliar()"></png-button>
      <png-button class="m-r-10" label="Reporte" [style]="'secondary'" icon="mdi mdi-printer" [disabled]="!dataSource.length" (clicked)="reporte()"></png-button>
    </div>
  </png-panel>
</div>