<app-add-edit-item [fg]="fg" (actionClicked)="onActionClicked($event)">
  <form [formGroup]="fg" class="w-25rem">
    <div>
      <png-dropdown
        class="w-full mt-1"
        [fg]="fg"
        control="idUnidad"
        label="Unidad"
        labelWidth="90"
        [optionsValues]="unidadesValues"
        placeholder="&lt;Unidad&gt;"
        [required]="true"
        [disabled]="action === 'edit'"
        [filter]="true"
        [showClear]="true"></png-dropdown>
    </div>
    <div>
      <png-dropdown
        class="w-full mt-1"
        [fg]="fg"
        control="idTipoEntidad"
        label="Tipo Entidad"
        labelWidth="90"
        [optionsValues]="tipoEntidadesValues"
        placeholder="&lt;Tipo Entidad&gt;"
        [required]="true"
        [filter]="true"
        [showClear]="true"></png-dropdown>
    </div>
  </form>
</app-add-edit-item>
