<div class="chat-container" [class.toggle]="toggled">
  <div class="chat-text" (click)="switchToogle()">CHAT</div>
  <form class="mensajes">
    <div class="mensajes__usuarios">
      <div
        class="mensajes__usuarios-row"
        *ngFor="let usuario of chatSvc.usuariosList">
        <div
          class="mensajes__usuarios-circle"
          [class.connected]="usuario.Conectado"></div>
        <b>{{ usuario.Usuario }}</b>
      </div>
    </div>
    <div class="mensajes__container">
      <div class="mensajes__text" ngx-auto-scroll="ngx-auto-scroll">
        <div class="mensajes__text-row" *ngFor="let message of messages">
          <b [class.color-red]="message.idUser !== currentUser">{{
            message.user
          }}</b
          >{{ message.text }}
        </div>
      </div>
      <div class="mensajes__emit">
        <input
          class="mensajes__input"
          type="text"
          id="message"
          autocomplete="off"
          [(ngModel)]="message"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Escriba un mensaje..." />
        <button
          class="mensajes__btn-enviar mdi mdi-send"
          type="submit"
          (click)="sendMessage()"
          tooltip="Enviar mensaje"></button>
      </div>
    </div>
  </form>
</div>
<div
  class="chat-emergente"
  [class.emergente-message]="showEmergente &amp;&amp; toggled"
  (click)="openChat()">
  <div class="chat-emergente__title">
    <div>{{ emergenteMessage.user }}</div>
  </div>
  <div class="chat-emergente__message">
    <div>{{ emergenteMessage.text }}</div>
  </div>
</div>
