<div
  [class.p-float-label]="floatLabel"
  [class.mt-3]="floatLabel"
  class="field"
  [formGroup]="fg">
  <label
    *ngIf="!floatLabel"
    [for]="control"
    class="inline-label"
    [ngStyle]="{ 'width.px': labelWidth }"
    [class.p-error]="!fg.controls[control].valid && fg.controls[control].dirty"
    [ngClass]="{ 'label-required': required }"
    >{{ label }}:
  </label>
  <p-dropdown
    [inputId]="control"
    [options]="optionsValues"
    [formControlName]="control"
    optionLabel="label"
    optionValue="value"
    [placeholder]="placeholder"
    [filter]="filter"
    filterBy="label"
    [dropdownIcon]="loading ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'"
    [required]="required"
    [disabled]="disabled"
    [showClear]="showClear"
    [autoDisplayFirst]="false"
    [resetFilterOnHide]="true"
    [pTooltip]="getToolTip()"
    [tooltipPosition]="tooltipPosition"
    [tooltipStyleClass]="getToolTipStyleClass()">
  </p-dropdown>
  <label
    *ngIf="floatLabel"
    class="mt-2"
    [for]="control"
    [ngClass]="{ 'label-required': required }"
    >{{ label }}</label
  >
</div>
