<app-modal [title]="action + ' Empleado'" [fg]="fg" (saveClicked)="save()">
  <form [formGroup]="fg">
    <div class="form__group m-t-10">
      <am-input class="w-100" label="Empleado" [fg]="fg" control="empleado" placeholder="Empleado" [required]="true" autocomplete="off"></am-input>
    </div>
    <div class="form__group">
      <am-select class="w-100" label="Cargo" [fg]="fg" control="cargo" [values]="cargosValues" placeholder="Cargo" [required]="true" autocomplete="off"></am-select>
    </div>
    <div class="form__group" *ngIf="isSuperAdmin">
      <am-select class="w-100" label="División" [fg]="fg" control="division" [values]="divisionesValues" placeholder="División" [required]="true" autocomplete="off"></am-select>
    </div>
  </form>
</app-modal>