<span
  [ngClass]="{ 'p-float-label mt-5': floatLabel }"
  class="field"
  [formGroup]="fg">
  <label
    *ngIf="!floatLabel"
    [for]="control"
    class="inline-label"
    [ngStyle]="{ 'width.px': labelWidth }"
    [ngClass]="{ 'label-required': required }"
    [class.p-error]="!fg.controls[control].valid && fg.controls[control].dirty"
    >{{ label }}:
  </label>
  <p-inputNumber
    [id]="control"
    [formControlName]="control"
    [mode]="mode"
    [currency]="currency"
    [locale]="locale"
    [minFractionDigits]="minFractionDigits"
    [suffix]="suffix"
    [prefix]="prefix"
    [required]="required"
    [disabled]="disabled"
    [pTooltip]="getToolTip()"
    [tooltipPosition]="tooltipPosition"
    [tooltipStyleClass]="getToolTipStyleClass()">
  </p-inputNumber>
  <label
    *ngIf="floatLabel"
    [for]="control"
    [ngClass]="{ 'label-required': required }"
    >{{ label }}</label
  >
</span>
