<app-modal [title]="action + ' Conexión al Rodas'" [fg]="fg" (saveClicked)="save()">
  <form [formGroup]="fg">
    <div class="form__group m-t-10">
      <am-select class="w-100" label="División" [fg]="fg" control="idDivision" [values]="divisionesValues" [required]="true" [disabled]="!isAdminPermission"></am-select>
    </div>
    <div class="form__group m-t-10">
      <am-select class="w-100" label="Centro" [fg]="fg" control="idUnidad" [values]="unidadesValues" [required]="true" [disabled]="!isAdminPermission"></am-select>
    </div>
    <div class="form__group m-t-10">
      <mat-checkbox formControlName="consolidado" matInput="matInput" color="primary">Consolidado</mat-checkbox>
    </div>
    <div class="form__group m-t-10">
      <am-input class="w-100" label="Servidor" [fg]="fg" control="ip" placeholder="Servidor" [required]="true" autocomplete="off"></am-input>
    </div>
    <div class="form__group m-t-10">
      <am-input class="w-100" label="Usuario" [fg]="fg" control="usuario" placeholder="Usuario" [required]="true" autocomplete="off"></am-input>
    </div>
    <div class="form__group">
      <am-input class="w-100" label="Contraseña" type="password" [fg]="fg" control="contrasena" placeholder="Contraseña" [required]="true" autocomplete="off"></am-input>
    </div>
    <div class="form__group m-t-10">
      <am-select class="flex" label="Base de Datos" [fg]="fg" control="baseDatos" [required]="true" [disabled]="loadingDataBase" [values]="baseDatosValues"></am-select>
      <button mat-icon-button="mat-icon-button" aria-labelledby="aria-labelledby" [disabled]="loadingDataBase" matTooltip="Leer Bases de Datos del Servidor." (click)="refreshDataBases()">
        <div class="mdi mdi-refresh" *ngIf="!loadingDataBase"></div>
        <mat-spinner class="m-l-10 m-t-5" *ngIf="loadingDataBase" diameter="20"></mat-spinner>
      </button>
    </div>
  </form>
</app-modal>