<div [class.p-float-label]="floatLabel" class="field" [formGroup]="fg">
  <label
    *ngIf="!floatLabel"
    [for]="control"
    class="inline-label"
    [ngStyle]="{ 'width.px': labelWidth }"
    [ngClass]="{ 'label-required': required }"
    [class.p-error]="!fg.controls[control].valid && fg.controls[control].dirty"
    >{{ label }}:
  </label>
  <p-inputMask
    [id]="control"
    [mask]="mask"
    [formControlName]="control"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    [pTooltip]="getToolTip()"
    [tooltipPosition]="tooltipPosition"
    [tooltipStyleClass]="getToolTipStyleClass()">
  </p-inputMask>
  <label
    *ngIf="floatLabel"
    [for]="control"
    [ngClass]="{ 'label-required': required }"
    >{{ label }}</label
  >
</div>
