<mat-card class="h-100 w-100">
    <mat-card-header *ngIf="header">
        <div mat-card-avatar *ngIf="avatar"></div>
        <mat-card-title class="bold" *ngIf="title">{{ title }}</mat-card-title>
        <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <mat-divider *ngIf="header"></mat-divider> -->
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
    <mat-card-actions *ngIf="menuValues">
        <button mat-button *ngFor="let menu of menuValues" (click)="onClick(menu)">{{ menu.description }}</button>
    </mat-card-actions>
</mat-card>