<app-list-item title="Clasificador de Cuentas" [canAddItem]="hasAdvancedUserPermission()" (OnAddClicked)="add()">
  <mat-tab-group class="h-100" #tabGroup>
    <mat-tab label="Consolidado">
      <am-table class="m-t-5" [columns]="displayedColumns" [data]="clasificadorCuentaConso" [menuItems]="menuItems" (clickAction)="onClicked($event)"></am-table>
    </mat-tab>
    <mat-tab label="Centro">
      <am-table class="m-t-5" [columns]="displayedColumns" [data]="clasificadorCuentaCentro" [menuItems]="menuItems" (clickAction)="onClicked($event)"></am-table>
    </mat-tab>
    <mat-tab label="Complejo">
      <am-table class="m-t-5" [columns]="displayedColumns" [data]="clasificadorCuentaComplejo" [menuItems]="menuItems" (clickAction)="onClicked($event)"></am-table>
    </mat-tab>
  </mat-tab-group>
</app-list-item>