<app-list-item title="Clasificador de Cuentas">
    <p-tabView class="h-full">
        <p-tabPanel header="Consolidado">
            <png-table
                [columns]="displayedColumns"
                [data]="clasificadorCuentaConso"
                [loading]="loading"
                [inlineButtons]="inlineButtons"
                [topLeftButtons]="topLeftButtons"
                [scrollable]="true"
                scrollHeight="calc(100vh - 290px)"
                (actionClicked)="actionClicked($event)"></png-table>
        </p-tabPanel>
        <p-tabPanel header="Centro">
            <png-table
                [columns]="displayedColumns"
                [data]="clasificadorCuentaCentro"
                [loading]="loading"
                [inlineButtons]="inlineButtons"
                [topLeftButtons]="topLeftButtons"
                [scrollable]="true"
                scrollHeight="calc(100vh - 290px)"
                (actionClicked)="actionClicked($event)"></png-table>
        </p-tabPanel>
        <p-tabPanel header="Complejo">
            <png-table
                [columns]="displayedColumns"
                [data]="clasificadorCuentaComplejo"
                [loading]="loading"
                [inlineButtons]="inlineButtons"
                [topLeftButtons]="topLeftButtons"
                [scrollable]="true"
                scrollHeight="calc(100vh - 290px)"
                (actionClicked)="actionClicked($event)"></png-table>
        </p-tabPanel>
    </p-tabView>
</app-list-item>

<p-toast></p-toast>
