<div id="unauthorized-container" class="p-40">
  <!-- image -->
  <div class="flex p-35">
    <img src="/assets/img/stop1.png" alt="No autorizado" />
  </div>

  <!-- header -->
  <div class="flex">
    <h2>No autorizado</h2>
  </div>

  <!-- error message -->
  <div class="flex">
    <p>Usted no está autorizado para acceder a esta opción</p>
  </div>

  <div class="flex mt-4">
    <png-button
      icon="mdi mdi-undo"
      label="Regresar"
      (clicked)="goBack()"></png-button>
  </div>
</div>
