<p-card class="login">
  <form [formGroup]="fg" class="form__login">
    <div class="form__group">
      <png-input-text class="w-full" [fg]="fg" control="usuario" label="Usuario" [floatLabel]="true"></png-input-text>
    </div>
    <div class="form__group">
      <png-password class="w-full" [fg]="fg" control="password" label="Contraseña" [floatLabel]="true"></png-password>
    </div>
    <div class="pt-2">
      <png-button class="w-full" label="Entrar" [disabled]="!isFormValid() || autenticando" [raised]="true" [fullWidth]="true" [loading]="autenticando" (clicked)="iniciar()"></png-button>
    </div>
  </form>
</p-card>