<app-add-edit-item [fg]="fg" (actionClicked)="onActionClicked($event)">
  <form class="flex flex-column" [formGroup]="fg">
    <div class="flex">
      <div class="w-full">
        <png-dropdown
          class="w-full"
          [fg]="fg"
          control="expresion"
          label="Expresión"
          [floatLabel]="true"
          [optionsValues]="expresionesValues"
          [filter]="true"
          [required]="true"
          [showClear]="true"></png-dropdown>
      </div>
      <div class="w-12rem ml-2">
        <png-dropdown
          class="w-full"
          [fg]="fg"
          control="operador"
          label="Operador"
          [floatLabel]="true"
          [optionsValues]="operadoresValues"
          [filter]="true"
          [required]="true"
          [showClear]="true"></png-dropdown>
      </div>
      <div class="w-full ml-2">
        <png-dropdown
          class="w-full"
          [fg]="fg"
          control="expresionC"
          label="Expresión"
          [floatLabel]="true"
          [optionsValues]="expresionesValues"
          [filter]="true"
          [required]="true"
          [showClear]="true"></png-dropdown>
      </div>
    </div>
    <div class="flex mt-2">
      <div>
        <png-checkbox [fg]="fg" control="centro" label="Centro"></png-checkbox>
      </div>
      <div class="ml-6">
        <png-checkbox
          [fg]="fg"
          control="complejo"
          label="Complejo"></png-checkbox>
      </div>
      <div class="ml-6">
        <png-checkbox
          [fg]="fg"
          control="consolidado"
          label="Consolidado"></png-checkbox>
      </div>
    </div>
  </form>
</app-add-edit-item>
