<div>
  <span
    [ngClass]="{ 'p-float-label mt-3': floatLabel }"
    class="p-field"
    [formGroup]="fg">
    <label
      *ngIf="!floatLabel"
      [for]="control"
      class="inline-label"
      [ngStyle]="{ 'width.px': labelWidth }"
      [class.p-error]="
        !fg.controls[control].valid && fg.controls[control].dirty
      "
      >{{ label }}:
    </label>
    <input
      [id]="control"
      type="text"
      pInputText
      [formControlName]="control"
      [placeholder]="placeholder"
      [autocomplete]="autocomplete"
      [required]="required"
      [disabled]="disabled" />
    <label *ngIf="floatLabel" [for]="control">{{ label }}</label>
  </span>
  <small
    *ngIf="!fg.controls[control].valid && fg.controls[control].errors?.['required'] && fg.controls[control].dirty"
    class="p-error"
    >Este campo es obligatorio.</small
  >
  <small
    *ngIf="!fg.controls[control].valid && fg.controls[control].errors?.['minLength'] && fg.controls[control].dirty"
    class="p-error"
    >Muy pocos caracteres.</small
  >
  <small
    *ngIf="!fg.controls[control].valid && fg.controls[control].errors?.['maxlength'] && fg.controls[control].dirty"
    class="p-error"
    >Demasiados caracteres.</small
  >
</div>
