<p-toolbar *ngIf="topLeftButtons.length || topRightButtons.length" class="mb-4">
    <ng-template pTemplate="left">
        <button
            *ngFor="let button of topLeftButtons"
            pButton
            pRipple
            [label]="button.label"
            [icon]="button.icon!"
            [class]="button.class"
            (click)="onActionClicked(button)"></button>
    </ng-template>
    <ng-template pTemplate="right">
        <button
            *ngFor="let button of topRightButtons"
            pButton
            pRipple
            [label]="button.label"
            [icon]="button.icon!"
            [class]="button.class"
            (click)="onActionClicked(button)"></button>
    </ng-template>
</p-toolbar>

<p-table
    #table
    [columns]="columns"
    [value]="data"
    [sortField]="groupField"
    sortMode="single"
    [rowGroupMode]="groupMode"
    [groupRowsBy]="groupField"
    styleClass="p-datatable-gridlines"
    [paginator]="paginator"
    [(selection)]="selectedRowsData"
    [dataKey]="groupField"
    [rows]="25"
    [rowsPerPageOptions]="[25, 50, 100]"
    [loading]="loading"
    expandableRowGroups="true"
    expandableRows="true"
    [resizableColumns]="resizableColumns"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [globalFilterFields]="getFields()"
    [scrollable]="scrollable"
    [scrollHeight]="scrollHeight"
    (onRowSelect)="switchRowSelection()"
    (onRowUnselect)="switchRowSelection()">
    <!-- caption -->
    <ng-template *ngIf="caption" pTemplate="caption">
        {{ caption }}
    </ng-template>

    <!-- header -->
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngIf="inlineButtons.length || selectCheckbox">
                <p-tableHeaderCheckbox
                    (click)="switchRowSelection()"></p-tableHeaderCheckbox>
            </th>
            <ng-container *ngFor="let col of columns">
                <th
                    *ngIf="groupMode === 'rowspan'"
                    [class.text-right]="
                        col.type === 'number' || col.type === 'decimal'
                    "
                    [pSortableColumn]="col.field"
                    [ngStyle]="{ width: col.width || 'auto' }"
                    [style.width]="col.type === 'boolean' ? '100px' : 'auto'"
                    pResizableColumn>
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th
                    *ngIf="groupMode !== 'rowspan' && col.field !== groupField"
                    [class.text-right]="
                        col.type === 'number' || col.type === 'decimal'
                    "
                    [pSortableColumn]="col.field"
                    [ngStyle]="{ width: col.width || 'auto' }"
                    [style.width]="col.type === 'boolean' ? '100px' : 'auto'"
                    pResizableColumn>
                    {{ col.header }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
            </ng-container>
            <th *ngIf="inlineButtons.length" class="menu-items-cell"></th>
        </tr>
        <tr *ngIf="filterData">
            <th *ngIf="inlineButtons.length" class="menu-select-cell"></th>
            <ng-container *ngFor="let col of columns">
                <th
                    *ngIf="groupMode === 'rowspan'"
                    [ngSwitch]="col.type"
                    [ngStyle]="{ width: col.width || 'auto' }">
                    <p-columnFilter
                        *ngSwitchCase="'date'"
                        type="date"
                        [field]="col.field"
                        matchMode="is"
                        class="w-full">
                        <ng-template
                            pTemplate="filter"
                            let-filter="filterCallback">
                            <p-calendar
                                (onSelect)="filter($event)"
                                [dateFormat]="dateFormat"></p-calendar>
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter
                        *ngSwitchCase="'boolean'"
                        type="boolean"
                        [field]="col.field"
                        matchMode="is"
                        class="w-full"></p-columnFilter>
                    <p-columnFilter
                        *ngSwitchDefault
                        type="text"
                        [field]="col.field"
                        matchMode="contains"
                        class="w-full"></p-columnFilter>
                </th>
                <th
                    *ngIf="groupMode !== 'rowspan' && col.field !== groupField"
                    [ngSwitch]="col.type"
                    [ngStyle]="{ width: col.width || 'auto' }">
                    <p-columnFilter
                        *ngSwitchCase="'date'"
                        type="date"
                        [field]="col.field"
                        matchMode="is"
                        class="w-full">
                        <ng-template
                            pTemplate="filter"
                            let-filter="filterCallback">
                            <p-calendar
                                (onSelect)="filter($event)"
                                [dateFormat]="dateFormat"></p-calendar>
                        </ng-template>
                    </p-columnFilter>
                    <p-columnFilter
                        *ngSwitchCase="'boolean'"
                        type="boolean"
                        [field]="col.field"
                        matchMode="is"
                        class="w-full"></p-columnFilter>
                    <p-columnFilter
                        *ngSwitchDefault
                        type="text"
                        [field]="col.field"
                        matchMode="contains"
                        class="w-full"></p-columnFilter>
                    <div *ngSwitchDefault></div>
                </th>
            </ng-container>
            <th *ngIf="inlineButtons.length" class="menu-items-cell"></th>
        </tr>
    </ng-template>

    <!-- group header -->
    <ng-template
        *ngIf="groupField"
        pTemplate="groupheader"
        let-rowData
        let-expanded="expanded">
        <tr pRowGroupHeader>
            <td colspan="12" class="relative">
                <button
                    *ngIf="expandableGroup"
                    type="button"
                    pButton
                    pRipple
                    [pRowToggler]="rowData"
                    class="p-button-text p-button-rounded p-button-plain mr-2"
                    [icon]="
                        expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                    "></button>
                <span
                    [ngClass]="{ 'absolute mt-2': expandableGroup }"
                    class="font-bold"
                    >{{ get(rowData, groupField) }}</span
                >
            </td>
        </tr>
    </ng-template>

    <!-- group footer -->
    <ng-template
        *ngIf="groupField && totalizeGroup"
        pTemplate="groupfooter"
        let-data
        let-columns="columns">
        <tr class="p-rowgroup-footer">
            <td
                *ngFor="let column of columns"
                [ngSwitch]="column.type"
                [class.text-right]="
                    column.type === 'number' || column.type === 'decimal'
                ">
                <span *ngSwitchCase="'decimal'" class="font-bold">
                    {{ getTotalsGroup(data, column) | currency: 'USD' }}
                </span>
                <span *ngSwitchDefault class="font-bold">
                    {{ getTotalsGroup(data, column) }}</span
                >
            </td>
        </tr>
    </ng-template>

    <!-- body -->
    <ng-template
        [pTemplate]="
            expandableGroup && groupMode === 'subheader'
                ? 'rowexpansion'
                : 'body'
        "
        let-rowData
        let-columns="columns"
        let-rowgroup="rowgroup"
        let-rowspan="rowspan"
        let-rowIndex="rowIndex">
        <tr
            [ngClass]="{
                'selected-row':
                    rowIndex === selectedRowDataIndex && selectRowOnClick
            }"
            (click)="onClickRow(rowData, rowIndex)">
            <td *ngIf="inlineButtons.length || selectCheckbox">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td
                *ngIf="rowgroup && groupMode === 'rowspan'"
                [attr.rowspan]="rowspan">
                <span class="p-text-bold p-ml-2">{{
                    get(rowData, groupField)
                }}</span>
            </td>
            <ng-container *ngFor="let col of columns">
                <td
                    *ngIf="groupMode === 'rowspan' && col.field !== groupField"
                    [ngSwitch]="col.type"
                    [class.text-right]="
                        col.type === 'number' || col.type === 'decimal'
                    ">
                    <span *ngSwitchCase="'date'">
                        {{ rowData[col.field] | date: 'dd/MM/yyyy' }}</span
                    >
                    <span *ngSwitchCase="'decimal'">
                        {{ rowData[col.field] | currency: 'USD' }}</span
                    >
                    <i
                        *ngSwitchCase="'boolean'"
                        class="pi"
                        [ngClass]="{
                            'true-icon pi-check-circle text-green-500':
                                rowData[col.field],
                            'false-icon pi-times-circle text-pink-500':
                                !rowData[col.field]
                        }"></i>
                    <i
                        *ngSwitchCase="'image'"
                        class="mdi {{ rowData[col.field] }}"></i>
                    <span *ngSwitchDefault> {{ get(rowData, col.field) }}</span>
                </td>
                <td
                    *ngIf="groupMode !== 'rowspan' && col.field !== groupField"
                    [ngSwitch]="col.type"
                    [class.text-right]="
                        col.type === 'number' || col.type === 'decimal'
                    ">
                    <span *ngSwitchCase="'date'">
                        {{ rowData[col.field] | date: 'dd/MM/yyyy' }}</span
                    >
                    <span *ngSwitchCase="'decimal'">
                        {{ rowData[col.field] | currency: 'USD' }}</span
                    >
                    <i
                        *ngSwitchCase="'boolean'"
                        class="pi"
                        [ngClass]="{
                            'true-icon pi-check-circle text-green-500':
                                rowData[col.field],
                            'false-icon pi-times-circle text-pink-500':
                                !rowData[col.field]
                        }"></i>
                    <i
                        *ngSwitchCase="'image'"
                        class="mdi {{ rowData[col.field] }}"></i>
                    <span *ngSwitchDefault> {{ get(rowData, col.field) }}</span>
                </td>
            </ng-container>
            <td
                *ngIf="inlineButtons.length"
                class="menu-items-cell"
                style="padding: 0 !important">
                <button
                    *ngFor="let button of inlineButtons"
                    pButton
                    pRipple
                    icon="{{ button.icon }}"
                    class="{{ button.class }}"
                    pTooltip="{{ button.tooltip }}"
                    tooltipPosition="{{ button.tooltipPosition }}"
                    (click)="onActionClicked(button, rowData)"></button>
            </td>
        </tr>
    </ng-template>

    <!-- footer -->
    <ng-template *ngIf="totalizeTable" pTemplate="footer" let-columns>
        <tr>
            <td
                *ngFor="let column of columns"
                [ngSwitch]="column.type"
                [class.text-right]="
                    column.type === 'number' || column.type === 'decimal'
                ">
                <span *ngSwitchCase="'decimal'" class="font-bold">
                    {{ getTotalsFooter(column) | currency: 'USD' }}
                </span>
                <span *ngSwitchDefault class="font-bold">
                    {{ getTotalsFooter(column) }}</span
                >
            </td>
        </tr>
    </ng-template>
</p-table>
