.edition-menu {
    position: relative;
    display: flex;
    justify-content: center;
}

.menu-items-cell {
    position: relative;
    text-align: center !important;
    width: 2rem !important;
}

.p-button-vertical-menu {
    height: 1.2rem !important;
    width: 1.2rem !important;
}