<div [class.p-float-label]="floatLabel" class="field" [formGroup]="fg">
  <label
    *ngIf="!floatLabel"
    [for]="control"
    class="inline-label"
    [ngStyle]="{ 'width.px': labelWidth }"
    [ngClass]="{ 'label-required': required }"
    [class.p-error]="!fg.controls[control].valid && fg.controls[control].dirty"
    >{{ label }}:
  </label>
  <p-calendar
    [inputId]="control"
    [formControlName]="control"
    [view]="view"
    [dateFormat]="dateFormat"
    [showIcon]="showIcon"
    [minDate]="minDate"
    [maxDate]="maxDate"
    [readonlyInput]="readonlyInput"
    [disabledDays]="disabledDays"
    [monthNavigator]="monthNavigator"
    [yearNavigator]="yearNavigator"
    [yearRange]="yearRange"
    [showTime]="showTime"
    [timeOnly]="timeOnly"
    [selectionMode]="selectionMode"
    [showButtonBar]="showButtonBar"
    [required]="required"
    [disabled]="disabled"
    [pTooltip]="getToolTip()"
    [tooltipPosition]="tooltipPosition"
    [tooltipStyleClass]="getToolTipStyleClass()">
  </p-calendar>
  <label
    *ngIf="floatLabel"
    [for]="control"
    [ngClass]="{ 'label-required': required }"
    >{{ label }}</label
  >
</div>
