<mat-form-field *ngIf="!formatMMYYYY" appDateFormat="appDateFormat" [formGroup]="fg">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input matInput="matInput" [matDatepicker]="dp" [disabled]="disabled" [placeholder]="placeholder" [formControlName]="control" autocomplete="off"/>
  <mat-datepicker-toggle matSuffix="matSuffix" [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp disabled="false"></mat-datepicker>
</mat-form-field>
<mat-form-field *ngIf="formatMMYYYY" appYearMonthFormat="appYearMonthFormat" [formGroup]="fg">
  <mat-label *ngIf="label">{{ label }}</mat-label>
  <input matInput="matInput" [matDatepicker]="dp" [disabled]="disabled" [placeholder]="placeholder" [formControlName]="control" autocomplete="off"/>
  <mat-datepicker-toggle matSuffix="matSuffix" [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp disabled="false" startView="year" (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dp)"></mat-datepicker>
</mat-form-field>