<table class="table">
  <tr class="table__row" *ngFor="let item of items">
    <td class="table__field">
      <div class="table__icon mdi mdi-{ item.icon }"></div>
      <div class="table__content">
        <div class="table__name">{{ item.name }}</div>
        <div class="table__description">{{ item.description }}</div>
      </div>
      <div class="table__more-vert">
        <!-- <app-more-vert [menuItems]="menuItems" (OnClick)="onClicked($event, item)"></app-more-vert> -->
      </div>
    </td>
  </tr>
</table>