.field {
    display: flex;
    margin-bottom: 0.3rem !important;

    .inline-label {
        min-width: fit-content;
        margin-top: 5px ;
        margin-right: 5px;
        margin-bottom: 0;
    }

    p-dropdown, .p-dropdown, 
    .p-inputtext, 
    p-inputmask, 
    p-inputnumber, .p-inputnumber, 
    p-password, .p-password, 
    .p-calendar, 
    p-multiselect, .p-multiselect,
    p-selectbutton,
    p-inputswitch {
        width: 100% !important;
        height: 25px;
    }

    .p-selectbutton {
        .p-button {
            padding: 0.2rem 1rem !important;
        } 
    }

    .p-inputtextarea.p-inputtext {
        height: auto !important;
    }

    // .p-calendar {
    //     height: 22px;
    // }

    .p-datepicker table {
        font-size: inherit !important;

        td {
            padding: 0 !important;
        }
    }

    .p-datepicker-buttonbar {
        padding: 0 !important;
    }

    &.p-input-icon-right,
    &.p-input-icon-left {
        display: inline-flex !important;

        i:last-of-type:hover {
            cursor: pointer !important;
        }
    }
}

.p-fieldset {

    .p-fieldset-legend {
       padding: .5rem !important;
       font-weight: inherit !important;
    } 
    
    .p-fieldset-content {
       padding: .5rem .2rem 0 .2rem !important;
    }
}

p-inputnumber, .p-inputnumber {
    text-align-last: right !important;
}

.p-float-label label {
    margin-top: -.35rem !important;
    margin-left: -.35rem !important;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label, 
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    font-size: inherit !important;
    top: -0.6rem !important;
}

.p-component, .p-link {
    font-size: inherit !important;
}

.p-button {
    padding: 0.5rem 1rem !important;
}

.p-disabled, .p-disabled *, .p-button:disabled {
    cursor: not-allowed !important;
}

.p-button.p-button-icon-only.p-button-rounded {
    height: 2rem !important;
    width: 2rem !important;
}

.p-button.p-button-icon-only.p-button-rounded.p-button-lg {
    height: 3rem !important;
    width: 3rem !important;
}

.p-inputtext, .pi, .p-multiselect .p-multiselect-label {
    padding: 0.2rem !important;
    font-size: inherit !important;
}

.p-datatable .p-datatable-loading-icon {
    font-size: 2rem !important;
}

.p-datatable-scrollable .p-datatable-thead, 
.p-datatable-scrollable .p-datatable-tbody, 
.p-datatable-scrollable .p-datatable-tfoot,
.p-datatable-scrollable .p-datatable-thead>tr>th, 
.p-datatable-scrollable .p-datatable-tbody>tr>td, 
.p-datatable-scrollable .p-datatable-tfoot>tr>td,
.p-datatable-scrollable .p-datatable-thead>tr, 
.p-datatable-scrollable .p-datatable-tbody>tr, 
.p-datatable-scrollable .p-datatable-tfoot>tr {
    display: revert !important;
}

.p-dropdown .p-dropdown-trigger, .p-multiselect-trigger {
    width: 2rem !important;
}

.p-dropdown-clear-icon {
    right: 1.5rem !important;
    // margin-top: -0.6rem !important;
}

.p-dropdown-panel {
    border: 1px solid var(--primary-500) !important;

    .p-dropdown-items .p-dropdown-item, .p-multiselect-item {
        padding: 0.5rem 1rem !important;
    }
}

.p-dropdown .p-dropdown-label {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.p-tooltip {
    label {
        padding: .5rem !important;
    }
    
    &.p-error {
        .p-tooltip-arrow {
            border-right-color: #e24c4c !important;
        }

        .p-tooltip-text {
            background-color: #e24c4c !important;
        }
    }
}

.p-toolbar {
    padding: .5rem !important;
    margin-bottom: .5rem !important;
}

.p-field-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem !important;
        
    & label:hover {
        cursor: pointer;
    }
    
    label {
        margin-bottom: 0 !important;
    }

    .p-checkbox {
        height: 1.2rem !important;
        width: 1.2rem !important;

        .p-checkbox-box {
            height: inherit !important;
            width: inherit !important;
        }
    }
}

.p-field-radiobutton {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem !important;
        
    & label:hover {
        cursor: pointer;
    }
    
    label {
        padding: 0 .5rem !important;
        margin-bottom: 0 !important;
    }
}

.p-datatable .p-datatable-thead > tr > th,
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-tfoot > tr > td {
    padding: .5rem !important;
}

.p-datatable-responsive-scroll>.p-datatable-wrapper {
    overflow-x: unset !important;
}

.p-paginator .p-dropdown, 
.p-paginator .p-paginator-current,
.p-paginator .p-paginator-first, 
.p-paginator .p-paginator-prev, 
.p-paginator .p-paginator-next, 
.p-paginator .p-paginator-last,
.p-paginator .p-paginator-pages .p-paginator-page {
    min-width: 1.5rem !important;
    height: 1.5rem !important;
}

.p-tieredmenu, .p-menubar, .p-menu-list {
    padding: 0 !important;
    background: var(--primary-700) !important;

    .p-menubar-root-list > .p-menuitem > .p-menuitem-link,
    .p-menuitem-link,
    .p-menuitem.p-menuitem-active > .p-menuitem-link {
        .p-menuitem-text, .p-submenu-icon, .p-menuitem-icon {
            color: white !important;
        }

        &:not(.p-disabled):hover {
            background: var(--primary-500) !important;
        }
    }
    
    .p-menuitem.p-menuitem-active > .p-menuitem-link {
        background: var(--primary-500) !important;
    }

    .p-submenu-list {
        background: var(--primary-700) !important;
    }
}


.p-submenu-list {
    z-index: 10 !important;
}

p-slidemenu {
    .p-slidemenu.p-slidemenu-overlay {
        top: -5rem !important;
        left: unset !important;
        right: 2rem !important;
    }

    p-slidemenusub {
        ul.p-slidemenu-rootlist.p-active-submenu {
            width: 100% !important;
        }
    }
}

.p-panel {
    height: 100% !important;

    .p-panel-header {
        padding: .5rem !important;
        height: 2rem !important;
        font-weight: 500;
        background: var(--primary-700) !important;
        color: white !important;

        .p-panel-header-icon:enabled:hover {
            background: var(--primary-500) !important;
        }
    }

    .p-panel-title {
        font-size: inherit !important;
    }

    .p-panel-content {
        padding: .5rem !important;
        background: var(--cyan-300) !important;
    }
}

.p-tabview {
    height: 100%;

    .p-tabview-panels {
        padding: .5rem !important;
    }
}

.p-card {
    .p-card-title {
        font-size: 1.2em !important;
        margin-bottom: 0 !important;
        padding: 0.5em !important;
    }

    .p-card-body {
        padding: 0 !important;
    }

    .p-card-content {
        padding: .5rem .5rem !important;
    }
}

.p-dialog {
    .p-dialog-header {
        padding: .5rem !important;
        background: var(--primary-700) !important;
        color: white !important;

        .p-dialog-title {
            font-size: inherit !important;
            font-weight: bold;
        }
    }

    .p-dialog-content {
        padding: 0 !important;
        overflow-y: unset !important;
    }
}

.p-dialog-mask {
    overflow: auto;
}

.p-column-filter-row .p-column-filter-menu-button, 
.p-column-filter-row .p-column-filter-clear-button {
    margin-left: 0 !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.p-sidebar {
    .p-sidebar-header, .p-sidebar-content
    {
       padding: .5rem 1rem !important;
    }
}

.p-panelmenu .p-panelmenu-header > a {
    padding: 1rem !important;
}

.p-inputswitch {
    height: 1.5rem !important;

    .p-inputswitch-slider:before {
        width: 1rem !important;
        height: 1rem !important;
        margin-top: -0.525rem !important;
    }
}

.label-required:after {
    content: " *";
}

small.p-error {
    position: absolute;
    margin-top: 0 !important;
}

.p-overlay-badge .p-badge {
    font-size: small !important;
}

.p-fileupload .p-fileupload-content {
    padding: 0 !important;
}

.p-tieredmenu.p-tieredmenu-overlay,
.p-menubar .p-submenu-list {
    border: 1px solid var(--primary-500) !important;
}

a.p-ripple.p-element.p-menuitem-link.ng-star-inserted.p-menuitem-link-active {
    background-color: var(--primary-500) !important;
    cursor: default !important;

    & span {
        color: white;
    }
}

