<div class="select-container">
    <mat-form-field [formGroup]="fg">
        <mat-label *ngIf="label">{{ label }}</mat-label>
        <mat-select [formControlName]="control" [required]="required" [disabled]="disabled" [multiple]="multiple" [errorStateMatcher]="matcher">
            <input matInput class="inputFilter" type="text" autocomplete="off" placeholder="Buscar..." (keyup)="search($event)">
            <mat-divider></mat-divider>
            <mat-option *ngFor="let item of selectionValues" [value]="item.value">{{ item.description }}</mat-option>
        </mat-select>
        <div matSuffix class="flex">
            <div *ngIf="hasControlValue">
                <button mat-icon-button class="mdi mdi-close" [disabled]="disabled" (click)="onClear($event)"></button>
            </div>
        </div>
        <mat-error *ngIf="fg.controls[control]?.hasError('required')">
            Este campo es <strong>obligatorio</strong>.
        </mat-error>
    </mat-form-field>
</div>