.btn {
    display: flex;
    flex-direction: row;
    font-size: inherit;
    // white-space: normal !important;
    // background-color: $color-primary;  
    // color: $color-white;  
  
    &:enabled:hover {
        cursor: pointer;
        transform: translateY(-1px);
        box-shadow: $shadow; 
    }
    
    &:enabled:active {
        transform: translateY(0);
        box-shadow: $shadow-short;  
    }

    &:disabled {
        color: $color-white;
        background-color: $color-gray;
        border-color: $color-gray;
        cursor: not-allowed;
    }

    &__login {
        margin-top: 1rem;
    }

    &__top-menu {
        @include menu-button;

        font-size: inherit;
        margin: 5px 0 5px 5px;
        padding: 1px;
        flex-direction: column;
        width: 90px;
        height: 70px;
        align-items: center;
        justify-content: center;
        white-space: normal;

        &-icon {
            font-size: 1.5rem;
            margin: -3px;
        }
    }

    &__side-menu {
        @include menu-button;

        width: 95%;
        margin: 5px;

        &-icon {
            margin-right: .5rem;
            font-size: .8rem;
        }
    }

    &__close {
        position: absolute;
        top: 1rem;
        right: 1.5rem;
        font-size: 1rem;
        color: black;
        transition: all .3s;
        background-color: transparent;
        z-index: 1;

        &:hover {
            cursor: pointer;
        }
    }

    &__add-item {
        position: absolute !important;
        bottom: 1rem !important;
        right: 1rem !important;
        color: $color-white !important;

        &.mat-mini-fab {
            color: $color-white !important;
            font-size: 1.2rem !important;
        }
    }
}

.modal-footer > button {
    margin-right: 1rem !important;
}

.mat-raised-button.mat-primary {
    color: $color-white !important;
}
