.form {
    padding: 2.5rem;
    border-radius: 3px;
    margin: auto;
    background-color: white;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);

    &__login {
        // height: 250px;
        width: 300px;
        padding: .5rem 1rem;
    }

    &__group {
        position: relative;
        display: flex;
        flex: 1;
        flex-direction: row;
        padding: 0 .2rem .5rem .2rem;
        // margin-bottom: 0.5rem;
    }  
   
    &__checkbox {
        display: flex;
        flex: 1;

        & > input[type="checkbox"] {
            margin-top: 3px !important;
            margin-right: 5px !important;
        }
    }
}
