.tipo-centro-container {
    height: 100px;
}

.unidad-container {
    max-width: 600px;
}

.conciliacion-detalle {
    height: calc(100% - 166px);
}

.mat-column-Total,
.mat-column-Valor,
.mat-column-ValorC,
.mat-column-ValorRodas {
    text-align: right;
    justify-content: flex-end;  
}

.mat-column-Operador,
.mat-column-Resultado,
.mat-column-Estado {
    text-align: center;
    justify-content: center;  
}

.mat-column-groupHeader {
    background-color: #fbf8f8;
}