<png-progress-spinner *ngIf="loading"></png-progress-spinner>

<div class="content">
    <png-panel class="h-full w-full" header="Contabildad">
        <div class="flex h-full">
            <div class="h-full w-full">
                <form [formGroup]="fg">
                    <div class="flex p-1">
                        <png-card>
                            <png-radio-button
                                [fg]="fg"
                                control="tipoCentro"
                                [items]="tipoCentrosValues"></png-radio-button>
                        </png-card>
                        <div class="flex flex-column w-25rem ml-3">
                            <div>
                                <png-dropdown
                                    class="w-full"
                                    [fg]="fg"
                                    control="idCentro"
                                    label="Centro"
                                    [optionsValues]="centrosValues"
                                    placeholder="Seleccione el Centro"
                                    [filter]="true"
                                    [required]="true"
                                    [showClear]="true"></png-dropdown>
                            </div>
                            <div>
                                <png-dropdown
                                    class="w-full"
                                    [fg]="fg"
                                    control="tipoEntidad"
                                    label="Tipo de Centro"
                                    [optionsValues]="tipoEntidadValues"
                                    placeholder="Tipo de Centro"
                                    [disabled]="true"></png-dropdown>
                            </div>
                            <div>
                                <png-calendar
                                    *ngIf="!isCierreOApertura"
                                    class="w-full"
                                    [fg]="fg"
                                    label="Período"
                                    control="periodo"
                                    view="month"
                                    dateFormat="MM/yy"
                                    [required]="true"></png-calendar>
                                <png-calendar
                                    *ngIf="isCierreOApertura"
                                    class="w-full"
                                    [fg]="fg"
                                    label="Período"
                                    control="periodo"
                                    view="year"
                                    dateFormat="yy"
                                    [required]="true"></png-calendar>
                            </div>
                        </div>
                        <div class="ml-3">
                            <div class="mt-1">
                                <png-checkbox
                                    label="Apertura"
                                    [fg]="fg"
                                    control="apertura"></png-checkbox>
                            </div>
                            <div class="mt-2">
                                <png-checkbox
                                    label="Cierre"
                                    [fg]="fg"
                                    control="cierre"></png-checkbox>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="conciliacion-detalle shadow-1 mt-2">
                    <p-tabView
                        class="h-full"
                        (onChange)="handleTabViewChange($event)">
                        <p-tabPanel
                            *ngIf="chequeoCentro"
                            header="Análisis del Chequeo">
                            <png-table
                                [columns]="displayedColumnsChequeo"
                                [data]="dataSourceChequeo"
                                [paginator]="false"
                                [filterData]="false"
                                groupField="Unidad"
                                [scrollable]="true"
                                scrollHeight="calc(100vh - 340px)"></png-table>
                        </p-tabPanel>
                        <p-tabPanel
                            *ngIf="!chequeoCentro"
                            header="Análisis de Asientos">
                            <png-table
                                [columns]="displayedColumnsConciliacion"
                                [data]="dataSourceAsientos"
                                [paginator]="false"
                                [filterData]="false"
                                groupField="Consulta"
                                [scrollable]="true"
                                scrollHeight="calc(100vh - 340px)"></png-table>
                        </p-tabPanel>
                        <p-tabPanel
                            *ngIf="!chequeoCentro"
                            header="Chequeo de Expresiones">
                            <png-table
                                [columns]="displayedColumnsExpresiones"
                                [data]="dataSourceExpresiones"
                                [paginator]="false"
                                [filterData]="false"
                                [scrollable]="true"
                                scrollHeight="calc(100vh - 340px)"></png-table>
                        </p-tabPanel>
                        <p-tabPanel
                            *ngIf="!chequeoCentro"
                            header="Chequeo de Valores">
                            <png-table
                                [columns]="displayedColumnsValores"
                                [data]="dataSourceValores"
                                [paginator]="false"
                                [filterData]="false"
                                [scrollable]="true"
                                scrollHeight="calc(100vh - 340px)"></png-table>
                        </p-tabPanel>
                        <p-tabPanel
                            *ngIf="!chequeoCentro"
                            header="Análisis del Clasificador">
                            <png-table
                                [columns]="displayedColumnsClasificador"
                                [data]="dataSourceClasificador"
                                [filterData]="false"
                                [scrollable]="true"
                                scrollHeight="calc(100vh - 340px)"></png-table>
                        </p-tabPanel>
                    </p-tabView>
                </div>
                <div class="flex justify-content-end mt-2">
                    <png-split-button
                        class="mr-1"
                        label="Conciliar"
                        icon="mdi mdi-file-check-outline"
                        [items]="buttonConciliarItems"
                        [disabled]="!fg.valid"
                        (clicked)="conciliar()"></png-split-button>
                    <png-button
                        class="mr-2"
                        label="Reporte"
                        [style]="'secondary'"
                        icon="mdi mdi-printer"
                        [disabled]="
                            !dataSourceAsientos.length &&
                            !dataSourceClasificador.length &&
                            !dataSourceChequeo.length
                        "
                        (clicked)="reporte()"></png-button>
                </div>
            </div>
            <p-panel
                *ngIf="isConsolidado"
                header="Centros a Consolidar"
                class="ml-2 w-20rem">
                <png-table
                    [columns]="displayedColumnsCentrosSubordinados"
                    [data]="dataSourceCentrosSubordinados"
                    (selectedRows)="updateSelectedCentrosChequeo($event)"
                    [paginator]="false"
                    [filterData]="false"
                    [selectCheckbox]="true"
                    [scrollable]="true"
                    scrollHeight="calc(100vh - 165px)"></png-table>
            </p-panel>
        </div>
    </png-panel>
</div>
