<mat-form-field *ngIf="filter === true" class="table-filter">
    <mat-label>Filtrar</mat-label>
    <input matInput [(ngModel)]="inputFilter" (keyup)="applyFilter()" placeholder="Entre el valor a filtrar...">
    <button *ngIf="inputFilter" mat-icon-button matSuffix class="mdi mdi-close" matTooltip="Eliminar filtro." (click)="clearFilter()"></button>
</mat-form-field>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">
        <ng-container matColumnDef="MENU" *ngIf="menuItems">
            <th mat-header-cell *matHeaderCellDef style="width: 5rem;"></th>
            <td mat-cell *matCellDef="let data; let i=dataIndex;">
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-labelledby style="border-radius: 50%;min-width: 20px;">
                    <div class="mdi mdi-dots-vertical"></div>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let menu of menuItems" [disabled]="!menu.active" (click)="onClicked(menu.id, data)">
                        <div class="mdi mdi-{ menu.icon }"></div>
                        <a>{{ menu.title }}</a> 
                    </button>
                </mat-menu>
            </td>
        </ng-container>
    
        <ng-container [matColumnDef]="column" *ngFor="let column of getDisplayedColumns();">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ getFieldName(column) }}</th>
            <td mat-cell *matCellDef="let data; let i=dataIndex;">{{ getData(data, column) }}</td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>

    <mat-paginator
        [pageIndex]="paginationDetailsDefault.pageIndex" 
        [pageSizeOptions]="paginationDetailsDefault.pageSizeOptions"
        [showFirstLastButtons]="true">
    </mat-paginator>
</div>

<div class="loading-shade" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>