.table-filter {
    margin: 10px 10px 0 10px;
}

.table-container {
    height: calc(100% - 50px);
    overflow: auto;
}

table {
    width: 100% !important;

    tr.element-row:hover {
        background: whitesmoke !important;
    }
    
    .mat-header-cell {
        font-weight: bold !important;
    }

    .mat-column-MENU {
        width: 5rem !important;    
    }
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}