<png-progress-spinner *ngIf="loading"></png-progress-spinner>

<div class="content">
  <png-panel class="h-full w-full" header="Golden DWH vs Rodas">
    <form [formGroup]="fg">
      <div class="flex p-1">
        <p-card class="tipo-centro-container">
          <png-radio-button
            [fg]="fg"
            control="tipoCentro"
            [items]="tipoCentrosValues"></png-radio-button>
        </p-card>
        <png-card class="flex flex-column w-25rem ml-3">
          <div>
            <png-dropdown
              class="w-full"
              [fg]="fg"
              control="idDivision"
              label="División"
              [optionsValues]="divisionesValues"
              placeholder="Seleccione la División"
              [filter]="true"
              [required]="true"
              [showClear]="true"></png-dropdown>
          </div>
          <div>
            <png-dropdown
              class="w-full"
              [fg]="fg"
              control="idCentro"
              label="Centro"
              [optionsValues]="centrosValues"
              placeholder="Seleccione el Centro"
              [filter]="true"
              [required]="true"
              [showClear]="true"></png-dropdown>
          </div>
          <div>
            <div class="flex">
              <png-calendar
                class="w-full"
                [fg]="fg"
                label="Período"
                control="periodo"
                view="month"
                dateFormat="MM/yy"
                [required]="true"></png-calendar>
              <!-- <div class="ml-3 mt-1">
                <png-checkbox [fg]="fg" control="isComplejo" label="Complejo" [disabled]="true"></png-checkbox>
              </div> -->
            </div>
          </div>
        </png-card>
        <png-card class="w-20rem ml-3">
          <div>
            <png-dropdown
              class="w-full"
              [fg]="fg"
              control="idEmpleado"
              label="Empleado"
              [optionsValues]="empleadosValues"
              placeholder="(Opcional)"
              [filter]="true"
              [showClear]="true"></png-dropdown>
          </div>
          <div>
            <png-dropdown
              class="w-full"
              [fg]="fg"
              control="idSupervisor"
              label="Supervisor"
              [optionsValues]="supervisoresValues"
              placeholder="(Opcional)"
              [filter]="true"
              [showClear]="true"></png-dropdown>
          </div>
          <div class="mt-1">
            <png-checkbox
              [fg]="fg"
              control="ventasAcumuladas"
              label="Ventas Acumuladas"
              [defaultValue]="true">
            </png-checkbox>
          </div>
        </png-card>
      </div>
    </form>
    <div class="conciliacion-detalle shadow-1 mt-2">
      <p-tabView class="h-full" (onChange)="handleTabViewChange($event)">
        <p-tabPanel header="Inventario">
          <png-table
            [columns]="
              !isConsolidado ? displayedColumns : displayedColumnsConsolidado
            "
            [data]="dataSourceInventario"
            [groupField]="!isConsolidado ? 'Unidad' : ''"
            [totalizeGroup]="true"
            [totalizeTable]="true"
            [paginator]="false"
            [filterData]="false"
            [scrollable]="true"
            scrollHeight="calc(100vh - 350px)"></png-table>
        </p-tabPanel>
        <p-tabPanel header="Venta">
          <png-table
            [columns]="
              !isConsolidado ? displayedColumns : displayedColumnsConsolidado
            "
            [data]="dataSourceVenta"
            [groupField]="!isConsolidado ? 'Unidad' : ''"
            [totalizeGroup]="true"
            [totalizeTable]="true"
            [paginator]="false"
            [filterData]="false"
            [scrollable]="true"
            scrollHeight="calc(100vh - 350px)"></png-table>
        </p-tabPanel>
        <p-tabPanel header="Nota">
          <png-input-textarea
            class="w-full mt-1"
            label="Nota"
            [fg]="fg"
            control="nota"
            autocomplete="off"></png-input-textarea>
        </p-tabPanel>
        <p-tabPanel
          header="Almacenes del Golden vs Rodas"
          [disabled]="isConsolidado">
          <png-table
            [columns]="displayedColumnsAlmacenes"
            [data]="dataSourceAlmacenes"
            [groupField]="!isConsolidado ? 'Unidad' : ''"
            [paginator]="false"
            [filterData]="false"
            [scrollable]="true"
            scrollHeight="calc(100vh - 350px)"></png-table>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="flex justify-content-end mt-2">
      <png-button
        class="mr-1"
        label="Conciliar"
        icon="pi-check"
        tooltip="Calcular la Conciliación."
        [raised]="true"
        [disabled]="!fg.valid"
        (clicked)="conciliar()"></png-button>
      <png-button
        class="mr-2"
        label="Reporte"
        [style]="'secondary'"
        [raised]="true"
        icon="pi-print"
        [disabled]="dataSourceInventario.length === 0"
        (clicked)="reporte()"></png-button>
    </div>
  </png-panel>
</div>
