<app-modal>
  <form [formGroup]="fg">
    <div class="form__group.m-t-10">
      <am-input class="w-100" label="Usuario" [fg]="fg" control="usuario" placeholder="Usuario" [disabled]="true"></am-input>
    </div>
    <div class="form__group">
      <am-input class="w-100" label="Nueva Contraseña" type="password" [fg]="fg" control="contrasena" placeholder="Nueva Contraseña" [required]="true" autocomplete="off"></am-input>
    </div>
    <div class="form__group">
      <am-input class="w-100" label="Confirmar Contraseña" type="password" [fg]="fg" control="contrasenaConfirm" placeholder="Confirmar Contraseña" [required]="true" autocomplete="off"></am-input>
    </div>
  </form>
</app-modal>