<div [class.p-float-label]="floatLabel" class="field" [formGroup]="fg">
  <label
    *ngIf="!floatLabel"
    [for]="control"
    class="inline-label"
    [ngStyle]="{ 'width.px': labelWidth }"
    [ngClass]="{ 'label-required': required }"
    [class.p-error]="!fg.controls[control].valid && fg.controls[control].dirty"
    >{{ label }}:
  </label>
  <p-multiSelect
    [inputId]="control"
    [options]="optionsValues"
    [formControlName]="control"
    optionLabel="label"
    optionValue="value"
    [placeholder]="placeholder"
    [filter]="filter"
    filterBy="label"
    [required]="required"
    [disabled]="disabled"
    [pTooltip]="getToolTip()"
    [tooltipPosition]="tooltipPosition"
    [dropdownIcon]="isLoading ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down'"
    [tooltipStyleClass]="getToolTipStyleClass()">
  </p-multiSelect>
  <label
    *ngIf="floatLabel"
    [for]="control"
    [ngClass]="{ 'label-required': required }"
    >{{ label }}</label
  >
</div>
