<span
    [ngClass]="{ 'p-float-label mt-5': floatLabel }"
    class="field"
    [formGroup]="fg">
    <label
        *ngIf="!floatLabel"
        [for]="control"
        class="inline-label"
        [ngStyle]="{ 'width.px': labelWidth }"
        [ngClass]="{ 'label-required': required }"
        [class.p-error]="
            !fg.controls[control].valid && fg.controls[control].dirty
        "
        >{{ label }}:
    </label>
    <textarea
        [id]="control"
        pInputTextarea
        [rows]="rows"
        [cols]="columns"
        [formControlName]="control"
        [placeholder]="placeholder"
        [autocomplete]="autocomplete"
        [required]="required"
        [disabled]="disabled"
        [pTooltip]="getToolTip()"
        [tooltipPosition]="tooltipPosition"
        [tooltipStyleClass]="getToolTipStyleClass()">
    </textarea>
    <label
        *ngIf="floatLabel"
        [for]="control"
        [ngClass]="{ 'label-required': required }"
        >{{ label }}</label
    >
</span>
